[submodule "toolchain/riscv/Darwin"]
	path = toolchain/riscv/Darwin
	url = https://e.coding.net/axk/aithinker_wb2/Darwin.git
[submodule "toolchain/riscv/Linux"]
	path = toolchain/riscv/Linux
	url = https://e.coding.net/axk/aithinker_wb2/Linux.git
[submodule "toolchain/riscv/MSYS"]
	path = toolchain/riscv/MSYS
	url = https://e.coding.net/axk/aithinker_wb2/MSYS.git
[submodule "tools/flash_tool"]
	path = tools/flash_tool
	url = https://e.coding.net/axk/aithinker_wb2/flash_tool.git
