# IntelliJ/CLion
.idea
.vscode

**/build_out

# Linux
*.swp
*.tmp

# MacOS
.DS_Store
__pycache__


customer_app

.config
*.o
*.pyc

# gtags
GTAGS
GRTAGS
GPATH

# emacs
.dir-locals.el
.cproject
.project

# emacs temp file suffixes
*~
.#*
\#*#
# MacOS directory files
.DS_Store

# eclipse setting
.settings
